#testimonial-slider {
  margin: 10px 0;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-top-style: double;
  border-bottom-style: double;
  border-top-color: #474747;
  border-bottom-color: #474747;
  padding: 8px 0px;
}
#testimonial-slider blockquote{
  background: none;
  padding: 10px;
  font-style: italic;
  color: #808080;
  display: block;
}
#testimonial-slider blockquote p{
  margin: 0 !important;
  padding: 10px !important;
}
#testimonial-slider blockquote cite {
  font-style: normal;
  display: block;
  font-weight: bold;
  font-style: italic;
  color: #555;
  padding: 10px 0 10px 5px;
}